<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzq.csm.dao.cms.article.CmsArticleMapper">
    <select id="selectByid" parameterType="int" resultType="org.zzq.csm.entity.cms.article.CmsArticle">
        select * from cms_article where id = #{id}
    </select>

    <select id="selectAll" resultType="org.zzq.csm.entity.cms.article.CmsArticle">
        select * from cms_article
    </select>

    <insert id="insertCmsArticle" parameterType="org.zzq.csm.entity.cms.article.CmsArticle">
        insert into cms_article
        (title,keywords,description,content,keyname,type,source,author,url,isurl,src) values
        (#{title},#{keywords},#{description},#{content},#{keyname},#{type},#{source},#{author},#{url},#{isurl},#{src})
    </insert>

    <update id="updateCmsArticle" parameterType="org.zzq.csm.entity.cms.article.CmsArticle">
        update cms_article
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="keywords != null">
                keywords = #{keywords},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="keyname != null">
                keyname = #{keyname},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="source != null">
                source = #{source},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="isurl != null">
                isurl = #{isurl},
            </if>
            <if test="src != null">
                src = #{src},
            </if>
        </set>
        ,edittime = NOW() where id = #{id}
    </update>

    <delete id="deleteCmsArticle" parameterType="int">
        delete from cms_article where id = #{id}
    </delete>
</mapper>