<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--默认输出到打印台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--打印台输出格式-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <!--定义的级别为debug-->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>