<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzq.csm.dao.cms.code.CmsCodesDetailMapper">
    <select id="selectByid" parameterType="int" resultType="org.zzq.csm.entity.cms.code.CmsCodesDetail">
        select * from cms_codesdetail where id = #{id}
    </select>

    <select id="selectByTypename" parameterType="string" resultType="org.zzq.csm.entity.cms.code.CmsCodesDetail">
        select * from cms_codesdetail where typename = #{typename}
    </select>

    <select id="selectByTypenameMap" parameterType="string" resultType="java.util.HashMap">
        select *,if(isactive="1","已启用","未启用") isactivename from cms_codesdetail where typename = #{typename}
    </select>

    <select id="selectAll" resultType="org.zzq.csm.entity.cms.code.CmsCodesDetail">
        select * from cms_codesdetail
    </select>

    <insert id="insertCmsCodesDetail" parameterType="org.zzq.csm.entity.cms.code.CmsCodesDetail">
        insert into cms_codesdetail
        (typename,codename,short_value,long_value,isactive,description,addtime,addwho) values
        (#{typename},#{codename},#{shortvalue},#{longvalue},#{isactive},#{description},#{addtime},#{addwho})
    </insert>

    <update id="updateCmsCodesDetail" parameterType="org.zzq.csm.entity.cms.code.CmsCodesDetail">
        update cms_codesdetail
        <set>
            <if test="typename != null">
                typename = #{typename},
            </if>
            <if test="codename != null">
                codename = #{codename},
            </if>
            <if test="shortvalue != null">
                short_value = #{shortvalue},
            </if>
            <if test="longvalue != null">
                long_value = #{longvalue},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        ,edittime = NOW(),version = version+1 where id = #{id}
    </update>

    <delete id="deleteCmsCodesDetail" parameterType="int">
        delete from cms_codesdetail where id = #{id}
    </delete>

    <delete id="deleteCmsCodesDetailByCode" parameterType="string">
        delete from cms_codesdetail where codename = #{codename}
    </delete>

    <delete id="deleteCmsCodesDetailByTypename" parameterType="string">
        delete from cms_codesdetail where typename = #{typename}
    </delete>
</mapper>