<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--
    扫描service包（包括子包中）下面的所有注解，初始化并加入到IOC的容器中,如果类中有其他的依赖，也会初始化，扫描多个包，用逗号隔开
    即Spring能够从classpath下面自动扫描、侦测和实例化具有特定注解的组件
    如果不想扫描这个路径下面所有的包，只想扫描指定的包，可以使用resource-pattern来扫描指定的资源
    resource-pattern="login/*class"
    -->
    <context:component-scan base-package="org.zzq.csm.service"></context:component-scan>
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置任务调度quartz，引入spring-quartz.xml文件，加载该文件中的属性-->
    <import resource="classpath:/spring/spring-quartz.xml" />

    <!--配置基于注解的声明式事务，即默认使用注解来管理声明式事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>